<launch>
  
  <!-- Include the gmapping demo - launches move_base, 3D sensor, and gmapping node -->
  <include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch" />

  <!-- Start the turtlebot -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <!-- Frontier Exploration -->
  <include file="$(find husky_navigation)/launch/exploration.launch" />

</launch>
